html {
   min-height: 100%;
}

body {
	margin: 0;
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 3.2em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing:-1px
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.0em;
	font-weight: 400;
	line-height: 1.2em;

}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul {
	list-style: square outside none;
	margin-left: 30px;
	padding: 0;
}

li {
	background: none;
	/*margin: 10px;*/
}

li:hover {
	/*background-color: #FFFF66;*/
}

a {
	text-decoration: none;
}

a:link {color:#66CCFF;}      /* unvisited link */
a:visited {color:#9966FF;}  /* visited link */
a:hover {color:#66CCFF;}  /* mouse over link */

#splash {
	z-index: 999;
	background: #FFFFFF;
    color: #000000;
    width:600px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -300px;
}

.splashContainer {
	width:300px;
    height:70px;
	position:absolute;
    left:50%;
    top:20%;
    margin:-35px 0 0 -150px;
}

#content {
	background: #FFFFFF;
    color: #000000;
    width:600px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -300px;
}

.contentContainer {
	width:600px;
    height:200px;
	position:absolute;
    left:50%;
    top:30%;
    margin:-100px 0 0 -300px;
}

#wrap {
	width:1050px;
	height:100%;
	margin:0 auto;
	padding:0 50px 60px 50px;
}

#top {
	width:100%;
	margin:20px auto 20px auto;
}

#leftcol {
	float:left;
	width:500px;
}

#rightcol {
	float:right;
	width:500px;
}

#center {
	margin: 0 auto;
	text-align: center;
}

#bottom{
	width:100%;
}

#footer {
	position:fixed;
	bottom:0;
	width:100%;
	border-bottom:24px solid black;
}

#footer:after {
	content:'';
	position:fixed;
	bottom: 40px;
	height: 20px;
	width: 100%;
	background: linear-gradient(bottom, white, transparent);
	background:-o-linear-gradient(bottom, white, transparent);
	background:-ms-linear-gradient(bottom, white, transparent);
	background:-moz-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
	background:-webkit-linear-gradient(bottom, white, transparent);
	background:-webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
	z-index: 999;
}

.clear {
	clear:both;
}