body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 3.2em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing:-1px
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.0em;
	font-weight: 400;
	line-height: 1.2em;

}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

li {
	background-color: white;
	margin: 10px auto;
}

li:hover {
	/*background-color: #FFFF66;*/
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#splash {
	z-index: 999;
	background: #FFFFFF;
    color: #000000;
    padding:10px;
    width:600px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -300px;
}

.splashContainer {
	width:300px;
    height:70px;
	position:absolute;
    left:50%;
    top:20%;
    margin:-35px 0 0 -150px;
}

#content {
	display: none;
	background: #FFFFFF;
    color: #000000;
    padding:10px;
    width:600px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -300px;
}

.contentContainer {
	width:500px;
    height:200px;
	position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -250px;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	border-bottom:40px solid black;
}