{{- $config := .Site.Params.comments -}}

{{- $enabledGlobally := $config.enable -}}
{{- $disabledGlobally := ( not $enabledGlobally ) -}}

{{ $optOut := ( eq .Params.comments false ) }}
{{ $optIn := .Params.comments }}

{{- $enableConditionOne := ( and $disabledGlobally $optIn ) -}}
{{- $enableConditionTwo := ( and $enabledGlobally ( not $optOut ) ) -}}

{{- if ( or $enableConditionOne $enableConditionTwo ) -}}

	{{- $disqusEnabled := .Site.DisqusShortname -}}
	{{- $staticmanEnabled := .Site.Params.staticman.enable -}}
	{{- $staticmanCommentsEnabled := .Site.Params.comments.staticman.enable -}}
	{{- $staticmanSubscribeEnabled := .Site.Params.subscribe.staticman.enable -}}

	{{- if ( or $disqusEnabled $staticmanEnabled ) -}}
		{{- if not ( eq .Section "page" ) -}}

			{{- if $staticmanSubscribeEnabled -}}
				<section id='subscribe' class='subscribe'>
				  <div class='container sep-before'>
				    <div class='subscribe-area'>
				      {{ partial "comments/staticman/subscribe" . }}
				    </div>
				  </div>
				</section>
			{{- end -}}

			{{- if ( or $disqusEnabled $staticmanCommentsEnabled ) -}}
				<section id='comments' class='comments'>
				  <div class='container sep-before'>
				    <div class='comments-area'>
				    {{- if $disqusEnabled -}}
				      {{ partial "comments/disqus" . }}
				    {{- else if $staticmanCommentsEnabled -}}
				      {{ partial "comments/staticman" . }}
				    {{- end -}}
				    </div>
				  </div>
				</section>
			{{- end -}}
			
		{{- end -}}
	{{- end -}}

{{- end -}}
